.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
fill: none;
stroke: #ccc;
stroke-width: 2px;
}


div.tooltip {
position: absolute;
padding: 5px;
font: 12px sans-serif;
background: #f6f6f6;
border: 0px;
border-radius: 3px;
pointer-events: none;
}

.option {
  width: 50px;
}
